<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Welcome to <%= office.name %></h1>
    <p>Address: <%= office.address %></p>
    <p>Phone: <%= office.phone %></p>
    <h2>About Us</h2>
    <p>We are the lawyers you call when your code is stolen or you're accused of theft.</p>
    <ul>

    </ul>
</body>
</html>
