<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/app.css" />
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1>WELCOME TO BYTE BOSSES LAW</h1>
    <div id="siteContent">
      <h2><%= office.name %></h2>
      <p>Address: <%= office.address %></p>
      <p>Phone: <%= office.phone %></p>
      <h2>About Us</h2>
      <p>
        We are the lawyers you call when your code is stolen or you're accused
        of theft.
      </p>
      <ul></ul>
    </div>
  </body>
</html>
