<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/app.css" />
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1>Client Reviews</h1>
    <div id="siteContent">
      <ul>
        <% reviews.forEach(function(review) { %>
        <ul>
          <h3>Review by <%= review.client %></h3>
          <p><%= review.text %></p>
          <p>Rating: <%= review.rating %> stars</p>
        </ul>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
